.banner {
	background-image:url(images/roules_cannelle.jpeg);
	background-position: center;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner-title {
	text-align: center;
	color: white;
	text-shadow: 5px 5px 10px grey;
	font-family: 'Pacifico', cursive;
	font-size: 20px;
}

body {
	background-color: #E6FAFC;
}

 .carousel-inner .carousel-item {
 	height: 300px;	
 }

 .carousel-item img {
 	position: absolute;
 	top: 0;
 	left: 0;
 	min-height: 300px;
 }

.header{
	display: flex;
	align-items: center;
	justify-content: center;	
}

.link{
    color: #FFC6C1;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
}

.link:hover{
	color: #FF5DA9;
	text-decoration: none;
}

.navbar{
	background-color: #739E82;
}

.small_banner {
	background-color: #FFC6B6;
	font-family: 'Pacifico', cursive;
	font-size: 24px;
	text-align: center;
	padding: 6px 5px;
	color: #739E82;
}

.section_boutique img {
	width: 50%;
	object-fit: cover;
}

.section_boutique {
	display: flex;
	flex-direction: space-between;
	height: 50vh;
}

.section_partenaires {
	display: flex;
	flex-direction: space-between;
	margin: 10px 10px 10px 10px;
}

.section_partenaires img {
	height: 90px;
	width: 90px;
	border-radius: 50%;
}

.txt_boutique {
	text-align: center;
	font-family: 'Nunito', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

