.header{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #E6FAFC;
}

.navbar{
	background-color: #739E82;
}

.link{
    color: #FFC6C1;
    font-family: 'Pacifico', cursive;
}

.link:hover{
	color: #FF5DA9;
	text-decoration: none;
}

.banner {
	background-image:url(images/roules_cannelle.jpeg);
	background-position: center;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner-title {
	text-align: center;
	color: white;
	text-shadow: 5px 5px 10px grey;
	font-family: 'Pacifico', cursive;
	font-size: 20px;
}

